<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.AJMillork</title>
    <meta name="keywords" content="Millwork, Architectural Millwork, Staircases, balustrades, kitchens, cabinets, doors, libraries, basements, wine cellars, custom furniture, Illinois, mantels, ceilings, Keith Czaja, luxury homes, custom stairs" />
    <meta name="description" content="AJ Millwork ~ Designers and Builders of Fine Architectural Millwork and Staircases" />
    <meta name="author" content="tosca ragnini - prairiepathconsulting.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="icon" type="image/png" href="~/favicon.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="55x55" href="apple-touch-icon-55x55.png">
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/modernizr")    
    <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Open+Sans:400" rel="stylesheet">
</head>   
<body>
  <button onclick="topFunction()" id="goto-top" title="Go to top">Top</button>
    <div id="page">
        <div class="transparent-header light">
            <header id="sticker" class="sticky-wrapper sticky-navigation">
                <div class="sticky-menu relative">
                    <div class="navbar navbar-default navbar-bg-dark" role="navigation">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a class="navbar-brand" href="~/AJMillwork">
                                            <img alt="AJ Millwork" src="~/img/ajlogo-words.png" />
                                        </a>
                                    </div>
                                    <div class="navbar-collapse collapse">
                                        <ul class="nav navbar-nav">
                                            <li class="mega-menu">
                                                <a href="~/AJMillwork">Home</a>
                                            </li>
                                            <li class="mega-menu">
                                                <a href="~/Portfolio">Portfolio</a>
                                            </li>
                                            <li class="mega-menu">
                                                <a href="~/Services">Services</a>
                                            </li>
                                            <li class="mega-menu">
                                                <a href="~/Designer">Designer</a>
                                            </li>
                                            <li class="mega-menu">
                                                <a href="~/Contact">Contact</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>


      <!-- <div class="body-content">--> 

            @RenderBody()

            <footer class="mar-pad">
                <p class="text-center text-color">&copy; @DateTime.Now.Year - AJ Millwork, Inc.</p>
            </footer>
       
    </div>
   @Scripts.Render("~/bundles/jquery")
   @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">
        $(document).ready(function(){
            $('.venobox').venobox({
                numeratio: true
            });
        });
    </script>
    <script type="text/javascript">
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40) {
        document.getElementById("goto-top").style.display = "block";
    } else {
        document.getElementById("goto-top").style.display = "none";
    }
}

function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
 </script>

 @RenderSection("scripts", required: false)

</body>
</html>
